<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <services>

      <service name="System.ServiceModel.Routing.RoutingService">

        <endpoint address="ComplexNumber"
                  binding="basicHttpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter"
                  name="ComplexNumber"  />

        <endpoint address="Messenger"
                  binding="basicHttpBinding"
                  contract="System.ServiceModel.Routing.ISimplexDatagramRouter"
                  name="Messenger"  />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RoutingService/Router" />
          </baseAddresses>
        </host>
      </service>

    </services>


    <client>

      <endpoint address="http://localhost:8081/ComplexNumberService"
                binding="basicHttpBinding"
                contract="*"
                name="ComplexNumber" />

      <endpoint address="net.msmq://localhost/private/MyMessenger" 
                binding="netMsmqBinding" 
                contract="*" 
                name="MyMessenger" 
                bindingConfiguration="myMSMQ" />

    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <routing filterTableName="RoutingTable" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <routing>

      <filters>
        <filter name="ComplexNumberFilter" filterType="EndpointName" filterData="ComplexNumber" />
        <filter name="MessengerFilter" filterType="EndpointName" filterData="Messenger" />
      </filters>

      <filterTables>
        <filterTable name="RoutingTable">
          <add filterName="ComplexNumberFilter" endpointName="ComplexNumber" />
          <add filterName="MessengerFilter" endpointName="MyMessenger"/>
        </filterTable>
      </filterTables>

      <backupLists>

      </backupLists>

    </routing>

    <bindings>

      <netMsmqBinding>
        <binding name="myMSMQ" exactlyOnce="true" durable="true">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>

    </bindings>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>