<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    
    <diagnostics performanceCounters="All"/>
    
    <services>
      
      <service name="ServerSvc.ComplexNumberCalculator">
        <endpoint address="" binding="basicHttpBinding" contract="ServerSvc.IComplexNumber" />
        <endpoint address="mex" kind="mexEndpoint" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/ComplexNumberService" />
          </baseAddresses>
        </host>
      </service>
      
      <service name="ServerSvc.MyMessenger">
        <endpoint address="MyMessenger" binding="netMsmqBinding" contract="ServerSvc.IMessenger" bindingConfiguration="myMSMQ" />
        <endpoint address="mex" kind="mexEndpoint" />
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/"/>
            <add baseAddress="http://localhost:8081/MyMessenger" />
          </baseAddresses>
        </host>
      </service>

    </services>

    <bindings>

      <netMsmqBinding>
        <binding name="myMSMQ" exactlyOnce="true" durable="true">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
      
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>