<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IComplexNumber" />
                <binding name="NetMsmqBinding_IMessenger"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/RoutingService/Router/ComplexNumber"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComplexNumber"
                contract="NumberSvc.IComplexNumber" name="BasicHttpBinding_IComplexNumber" />
          
            <endpoint address="http://localhost:8080/RoutingService/Router/Messenger"
                binding="basicHttpBinding" bindingConfiguration="NetMsmqBinding_IMessenger"
                contract="Messenger.IMessenger" name="NetMsmqBinding_IMessenger" />
          
        </client>
    </system.serviceModel>
  
</configuration>